In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv')

In [3]:
X_train=train.drop(columns=['labels'])
Y_train=train['labels']

In [4]:
ids=test['id']

In [5]:
test=test.drop(columns=['id'])

In [6]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
test=scaler.transform(test)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train, Y_train)
Y_pred=knn.predict(test)

In [8]:
labels = pd.DataFrame(Y_pred, columns = ['labels'])

In [9]:
ids=pd.concat([ids,labels],axis=1,join='inner')

In [10]:
ids

        id  labels
0        1       1
1        2       0
2        3       0
3        4       0
4        5       0
...    ...     ...
2245  2246       0
2246  2247       0
2247  2248       1
2248  2249       0
2249  2250       0

[2250 rows x 2 columns]

In [11]:
ids.to_csv('submission.csv',index=False)